<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#EFFAF2"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <meta name="dicoding:email" content="luquilo.etc@gmail.com">
  <title>ECO2Watch</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <img src="./logo.png" alt="ECO2Watch">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/beranda">Beranda</a></li>
        <li><a href="#/kalkulator">Kalkulator</a></li>
        <li><a href="#/artikel">Artikel</a></li>
        <li><a href="#/tentang-kami">Tentang Kami</a></li>
      </ul>
    </nav>
  </header>
  
  <main id="mainContent"></main>

  <footer>
    <div class="info__footer">
      <div class="footer-content">
        <img src="./images/footer-logo.png" alt="footer-logo">
        <p>Dengan ECO2Watch Kita Bersama Selamatkan Dunia</p>
      </div>
      <div class="footer-content">
        <h3>Navigasi</h3>
        <ul>
          <li><a href="#/beranda">Beranda</a></li>
          <li><a href="#/kalkulator">Kalkulator</a></li>
          <li><a href="#/artikel">Artikel</a></li>
          <li><a href="#/tentang-kami">Tentang Kami</a></li>
        </ul>
      </div>
      <div class="footer-content">
        <h3>Tentang Kami</h3>
        <p>ECO2Watch berdedikasi untuk menyediakan alat dan pengetahuan yang dibutuhkan untuk mengukur dan mengurangi jejak karbon Misi kami adalah memberdayakan individu untuk membuat keputusan yang sadar lingkungan. Dengan kalkulator yang mudah digunakan, wawasan mendalam, dan tips praktis, kita dapat mengambil langkah berarti menuju planet yang lebih hijau.</p>
      </div>
    </div>
    <div class="copyright__footer">
      <hr class="green-line-footer">
      <p>© 2024 ECO2Watch. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>