<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
 
  <title>ECO2Watch</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <img src="./logo.png" alt="ECO2Watch">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/beranda">Beranda</a></li>
        <li><a href="#/kalkulator">Kalkulator</a></li>
        <li><a href="#/artikel">Artikel</a></li>
        <li><a href="#/panduan">Panduan</a></li>
        <li><a href="#/tentang-kami">Tentang Kami</a></li>
      </ul>
    </nav>
  </header>
  
  <main id="mainContent"></main>

  <footer>
    <div class="info__footer">
      <div class="footer-content">
        <img src="./images/footer-logo.png" alt="footer-logo">
        <p>With ECO2Watch, We Save The World</p>
      </div>
      <div class="footer-content">
        <h3>Navigasi</h3>
        <ul>
          <li><a href="#/beranda">Beranda</a></li>
          <li><a href="#/kalkulator">Kalkulator</a></li>
          <li><a href="#/artikel">Artikel</a></li>
          <li><a href="#/panduan">Panduan</a></li>
          <li><a href="#/tentang-kami">Tentang Kami</a></li>
        </ul>
      </div>
      <div class="footer-content">
        <h3>Tentang Kami</h3>
        <p>At Carbon Emissions Calculator, we're dedicated to providing you with the tools and knowledge you need to measure and reduce your carbon footprint. Our mission is to empower individuals and organizations to make environmentally conscious decisions. With our user-friendly calculator, in-depth insights, and practical tips, you can take meaningful steps towards a greener planet.</p>
      </div>
    </div>
    <div class="copyright__footer">
      <hr class="green-line-footer">
      <p>© 2024 ECO2Watch. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>