.artikel-headline {
    text-align: center;
    padding: 0 50px;
    max-width: 700px;
    margin: 0 auto;
}

.green-text {
    color: #2C9D57;
}

.artikel-headline p {
    margin-top: 25px;
    font-size: 18px;
}

.artikel-header-img {
    display: flex;
    justify-content: space-between;
}

.artikel-header-img img {
    width: 180px;
}

.green-line {
    border: none;
    border-top: 3px solid #2C9D57;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px; /* Add some space between the articles */
    padding: 16px;
}

.article-item:hover {
    cursor: pointer;
}

.article-item {
    flex: 1 1 calc(25% - 32px); /* Allow flexible items per row with some margin */
    box-sizing: border-box;
    margin: 16px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 350px;
}

.article-item img {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Crop the image if it's too tall */
    border-radius: 4px;
}

.article-item h2 {
    margin: 16px 0 0;
    font-size: 18px;
    color: #333;
}

@media only screen and (max-width: 640px) {
    .artikel-headline {
        padding: 0 30px;
    }

    .article-item {
        flex: 1 1 100%;
    }
}
