.home__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-headline {
    text-align: left;
    margin-left: 20%;
}

.hero-headline h1 {
    font-size: 50px;
}

.hero-headline p {
    margin-bottom: 30px;
}

.green-text {
    color: #2C9D57;
}

.hero-headline-link {
    margin-top: 20px;
    padding: 12px 40px;
    background-color: #2C9D57;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.hero-img img {
    max-width: 630px;
    display: none;
}

.leaf-left{
    width: 200px;
}

.home__headline {
    background-color: white;
    padding: 50px 260px;
}

.leaf-right {
    background-color: white;
    text-align: right;
}

.leaf-right img {
    width: 200px;
}

.home__article {
    background: url(../public/images/article-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-headline h1, .article-headline p {
    color: white;
    text-align: center;
}

.leaf-top {
    background-color: white;
}

.leaf-top img {
    width: 200px;
}

.home__faq {
    background-color: white;
    padding: 50px 260px;
}

.faq-about {
    text-align: end;
    margin-bottom: 100px;
}

/* responsive rules */
@media only screen and (max-width: 640px) {
    .hero-img img {
        display: none;
    }
    .hero-headline {
        text-align: left;
        margin-left: 10%;
    }
    .home__headline, .home__faq {
        padding: 50px 40px;
    }
}

/* Styles for screen widths between 640px and 766px */
@media only screen and (min-width: 640px) and (max-width: 766px) {
    .home__headline, .home__faq {
        padding: 50px 50px;
    }
}

/* Styles for screen widths between 767px and 1023px */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .home__headline, .home__faq {
        padding: 50px 15%;
    }
}

/* Styles for screen widths between 1024px and 1279px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .home__headline, .home__faq {
        padding: 50px 15%;
    }
}

/* Styles for screen widths between 1280px and 1535px */
@media only screen and (min-width: 1280px) and (max-width: 1535px) {
    .hero-img img {
        display: inline;
    }
}

/* Styles for screen widths 1536px and above */
@media only screen and (min-width: 1536px) {
    .hero-img img {
        display: inline;
    }
}