.kalkulator-headline {
    text-align: center;
    padding: 0 50px;
    max-width: 700px;
    margin: 0 auto;
}

.green-text {
    color: #2C9D57;
}

.kalkulator-headline p {
    margin-top: 25px;
    font-size: 18px;
}

.kalkulator-header-img {
    display: flex;
    justify-content: space-between;
}

.kalkulator-header-img img {
    width: 180px;
}

.green-line {
    border: none;
    border-top: 3px solid #2C9D57;
}

.calculator__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 50px;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator__input{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label-lampu, .label-ac, .label-kulkas, .label-kulkas, .label-kendaraan, .label-makanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__lampu, .input__ac, .input__kulkas, .input__kulkas, .input__kendaraan, .input__makanan {
  width: 400px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  font-size: 16px;
  margin-bottom: 20px;
}

.hitung {
    margin-top: 20px;
    padding: 14px 40px;
    background-color: #2C9D57;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.calculator-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin: 75px;
}

.calculator-output p {
    text-align: center;
    margin-bottom: 20px;
}

#total-emisi {
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    display: inline;
}

.satuan-total-emisi {
    font-weight: normal;
    font-size: 0.7em;
    font-family: 'Inter';
}


/* responsive rules */
@media only screen and (max-width: 640px) {
    .kalkulator-headline {
        padding: 0 30px;
    }

    .input__lampu, .input__ac, .input__kulkas, .input__kendaraan, .input__makanan {
        max-width: 250px;
    }

    #total-emisi{
        display: block;
    }

}