.header-headline {
    text-align: center;
    margin: 50px 260px 0;
}

.green-text {
    color: #2C9D57;
}

.header-headline p {
    margin-top: 25px;
    font-size: 18px;
}

.header-img {
    display: flex;
    justify-content: space-between;
}

.header-img img {
    width: 180px;
}

.green-line {
    border: none;
    border-top: 3px solid #2C9D57;
}

.profile-desc {
    margin: 50px 300px;
}

.profile-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 20px 20px;
}

.member {
    text-align: center;
}

.member img {
    width: 350px;
}

.member h3 {
    margin: 10px 0 5px 0;
}

.member p {
    margin: 0;
    color: gray;
}